%link{rel:'stylesheet', href:'bootstrap-3.3.7-dist/css/bootstrap.min.css'}
%link{rel:'stylesheet', href:'index.css'}

%script{src:'teoria.js'}
%script{src:'jquery-3.2.1.min.js'}
%script{src:'vue.js'}
%script{src:'bootstrap-3.3.7-dist/js/bootstrap.min.js'}

= haml :settings

%div{:id=> "myApp"}

  /   %settings{:':starting-fret.sync'=>"startingFret", :':position-size.sync'=>"positionSize", :':use-strings.sync'=>"useStrings", :':open-strings.sync'=>"openStrings", :':chord-shapes.sync'=>"chordShapes", :':selected-chord.sync'=>"selectedChord", :id=> 'settings'}
  /   %a.btn.btn-lg.btn-primary{:href=>"#", :role=>"button", :'data-html'=>"true", :'data-toggle'=> "popover", :title=> "Settings", :':data-content'=> "settingsContent"}Toggle Popover {{selectedChord}}

  .container-fluid
    #settingsDiv
      #settingBtn.glyphicon.glyphicon-cog.col-sm-1{:'data-toggle'=>"collapse", :'data-target'=>"#settingsForm"}
        / %span.glyphicon.glyphicon-cog
      #settingsForm.collapse.col-sm-12
        .form-group
          %label{:for=>"startingFret"}Starting Fret:
          %input{:type=>"number", :'v-model.number'=> "startingFret"}
        .form-group
          %label{:for=>"positionSize"}Position Size:
          %input{:type=>"number", :'v-model.number'=> "positionSize"}
        .form-group
          %label{:for=>"openStrings"}Tuning:
          %ul.list-group
          %template{:id=> "openStrings", :'v-for'=> "stringNum in 6"}
            %li.list-group-item{:':class'=> "{disabled: useStrings.indexOf(stringNum-1) === -1}"}
              %label {{stringNum}}:
              %input{:type=>"text", :'v-model.number'=> "openStrings[stringNum-1]"}
              %input{:type=>"checkbox", :':value'=> "stringNum - 1", :'v-model'=> "useStrings"}
    #firstCol.col-sm-3
      %canvas.fullSize{id:"fretboard"}
    #middleCol.col-sm-9
      %ul.nav.nav-tabs.nav-justified
        %li.active{:':class'=> "[tabWidthClass]"}
          %a{:id=>"alltab", :'data-toggle'=>"tab", :href=>"#chordsTab", :'@click'=>"selectedChord = 'all'"}All Chords
        %template{:'v-for'=> "(strings, chordName) in chordShapes"}
          %li{:':class'=> "[tabWidthClass]"}
            %a{:':id'=>"chordName + 'tab'", :'data-toggle'=>"tab", :href=>"#chordsTab", :'@click'=>"selectedChord = chordName"}
              {{chordName}}
              %span.glyphicon.glyphicon-remove{:'@click.prevent'=>"removeChord(chordName, $event)", :'data-toggle'=>false}
        %li{:':class'=> "[tabWidthClass]"}
          %a{:id=>"newtab", :'data-toggle'=>"tab", :href=>"#newChordTab", :'@click'=>"selectedChord = 'new'",}+
      .tab-content
        #chordsTab.tab-pane.active
          %canvas.fullSize{:id=>"zoom"}
        #newChordTab.tab-pane
          .form-group
            %label{:for=>"newChord"}New Chord:
            %input{:id=>"newChord", :type=>"text", :'v-model'=> "newChord", :'@keyup.enter'=> "createNewChord"}
            %button{:id=>"newChordBtn", :type=>"button", :'@click'=>"createNewChord"}Create
          / %label{:for=>"chords"}Chords:
          / %template{:id=>"chords", :'v-for'=> "(strings, chordName) in chordShapes"}
          /   %li{:'@click'=> "selectedChord = chordName"} {{chordName}}

%script{src:'utils.js'}
%script{src:'musicFuncs.js'}
%script{src:'settings_vue.js'}
%script{src:'index_vue.js'}
