%link{rel:'stylesheet', href:'bootstrap.min.css'}
%link{rel:'stylesheet', href:'index.css'}

%script{src:'teoria.js'}
%script{src:'jquery-3.2.1.min.js'}
%script{src:'vue.js'}
%script{src:'bootstrap.min.js'}

= haml :settings

%div{:id=> "myApp"}

  .container{:id=>"settingsPopover"}
    %settings{:':starting-fret.sync'=>"startingFret", :':position-size.sync'=>"positionSize", :':use-strings.sync'=>"useStrings", :':open-strings.sync'=>"openStrings", :':chord-shapes.sync'=>"chordShapes", :':selected-chord.sync'=>"selectedChord"}
    / %a.btn.btn-lg.btn-primary{:href=>"#", :role=>"button", :'data-html'=>"true", :'data-toggle'=> "popover", :title=> "Settings", :':data-content'=> "settingsContent"}Toggle Popover {{selectedChord}}

  .container-fluid
    #firstCol.col-sm-3
      %canvas.fullSize{id:"fretboard"}
    #middleCol.col-sm-9
      %canvas.fullSize{:id=>"zoom"}

%script{src:'utils.js'}
%script{src:'musicFuncs.js'}
%script{src:'settings_vue.js'}
%script{src:'index_vue.js'}
