%template{:id=> 'settingsTemplate'}
  %form
    .form-group
      %label{:for=>"startingFret"}Starting Fret:
      %input{:type=>"number", :'v-model.number'=> "startingFret"}
    .form-group
      %label{:for=>"positionSize"}Position Size:
      %input{:type=>"number", :'v-model.number'=> "positionSize"}
    .form-group
      %label{:for=>"openStrings"}Tuning:
      %ul.list-group
      %template{:id=> "openStrings", :'v-for'=> "stringNum in 6"}
        %li.list-group-item{:':class'=> "{disabled: useStrings.indexOf(stringNum-1) === -1}"}
          %label {{stringNum}}:
          %input{:type=>"text", :'v-model.number'=> "openStrings[stringNum-1]"}
          %input{:type=>"checkbox", :':value'=> "stringNum - 1", :'v-model'=> "useStrings"}
    .form-group
      %label{:for=>"chords"}Chords:
      %template{:id=>"chords", :'v-for'=> "(strings, chordName) in chordShapes"}
        %li{:'@click'=> "selectedChord = chordName"} {{chordName}}
      %div Selected chord: {{selectedChord}}